   .product-item {
       min-width: 200px; /* Минимальная ширина элементов */
       margin: 10px; /* Отступ между элементами */
   }
   #basket {
       display: flex; /* Включаем flexbox */
       flex-direction: row; /* Размещаем элементы в ряд */
       flex-wrap: wrap; /* Разрешаем перенос элементов на новую строку, если не хватает места */
       justify-content: space-around; /* Распределяем элементы равномерно по горизонтали */
   }

.obj_img {
    width: 300px;
}
.obj_button{
    height: 50px;
    width: 35px;
    margin:30;
    transition: 1s;
    background-color: white;
}
.obj_button:hover {
    transition: 1s;
    background-color: white;
    border-radius:40px;
}
.obj_button:active {
animation: color-change 0.4s ease;
border-radius: 40px;
}
@keyframes color-change {
    from { background-color: white; }
    to { background-color: aquamarine; }
}
.order {
    margin-top: 100px;
    margin-left:40%;
    margin-right: 40%;
    margin-bottom: 40px;

    text-align: center;

    height: 50px;
    width: 300px;

    transition: 1s;
    background-color: white;
}
.order:hover {
    transition: 1s;
    background-color: white;
    border-radius:40px;
}
.order:active {
animation: color-change 0.4s ease;
border-radius: 40px;
}
@keyframes color-change {
    from { background-color: white; }
    to { background-color: aquamarine; }
}