.catalog {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px; 
}
.obj_img{
    width: 300px;
}
.obj_card{
    margin-bottom: 100;
    margin-left: 50;
    margin-right: 50;

    text-align: center;
    width: 300px;
}

.obj_button{
    height: 50px;
    width: 150px;
    margin:30;
    transition: 1s;
    background-color: white;
}
.obj_button:hover {
    transition: 1s;
    background-color: white;
    border-radius:40px;
}
.obj_button:active {
animation: color-change 0.4s ease;
border-radius: 40px;
}
@keyframes color-change {
    from { background-color: white; }
    to { background-color: aquamarine; }
}